
.tabla {
    display: flex;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
    padding: 8px;
    
}

.tablaPadre {
    width: 70vh;
}

li {
    list-style: none;
}

 th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    
  }

  .sinProd {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 70vh;
      
        
  }

  .formularioTabla { 
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      height: 100%;
  }

  .formulario {
    width: 40vh;
    text-align: center;
    font-size: 25px;

  }

  input {
      border-radius: 5px;
      width: 90%;
      height: 30px;
      margin: 5px;
  }

  .imagen {
      width: 80px;
      height: 80px;
      background-color: blue;
  }

  .orden {
      font-size: 25px;
      text-align: center;
      font-weight: bold;
  }

  .container-cart {
      height: 68vh;
      margin-top: 20px;
  }

  .vaciar {
      border-radius: 15px;
      text-align: center;
      display: flex;
      flex-direction: column;
      margin-left: 300px;
  }