.imgItem {
    max-width: 200px;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
}
.talles {
    display: flex;
    flex-direction: row;
    margin: 0px 15px;
}

.talle {
    background-color: rgb(74, 74, 168);
    border-radius: 15px;
    color: white;
    background-size: auto;
    width: fit-content;
    padding: 5px;

}

.imgDetail {
    max-width: 500px;
    max-height: 500px;
}

.contenedorInfo {
    width: 600px;
    height: 600px;
}

h3 {
    font-size: 30px;
}

.precio-stock {
    font-size: 25px;
}
.contenedorImagen {
    display: flex;
    justify-content: center;
}

.itemDetail {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin-top: 100px;
    height: 68vh;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.carrito {
    margin: 10px;
}

.carrito:hover {
    background-color: rgba(43, 43, 90, 0.822);
    color: white;
}

.seguir {
    margin: 10px;
}

.seguir:hover {
    background-color: rgba(43, 43, 90, 0.822);
    color: white;
}