#Props {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(120, 123, 175);
}

#items {
    display: flex;
    flex-direction: column;
    justify-content: center;

}